.ambassadors-program-section  {
  position: relative;
  padding: remcalc(55) 0;

  @include breakpoint(small) { padding: remcalc(176) 0 remcalc(100); }
}

.heading-ambassadors-program { margin-bottom: remcalc(40); }

.ambassadors-background {
  display: none;

  @include breakpoint(medium) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 45vw;
    max-width: remcalc(600);
  }
}

.heading-wrapper {
  opacity: 0;
  transform: translateX(-60%);
  transition: opacity 1.1s $ease-cubic, transform 1.1s $ease-cubic;

  &.show-on-scroll {
    opacity: 1;
    transform: translateX(0);
  }
}

.ambasaddors-anim-wrapper {
  opacity: 0;
  transform: translateX(60%);
  transition: opacity 1.1s $ease-cubic, transform 1.1s $ease-cubic;

  &.show-on-scroll {
    opacity: 1;
    transform: translateX(0);
  }
}
