.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: remcalc(200);
  height: remcalc(46);
  border: double 1px transparent;
  border-radius: remcalc(32);
  background-image: linear-gradient($white, $white), linear-gradient(to right, $gradientdark, $gradientlight);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-decoration: none;
  color: $black;
  font-size: get($fontsize, 'button');
  font-weight: get($fontweight, 'bold');
  transition: transform .4s $ease-cubic, color .5s $ease-cubic;

  @include breakpoint(small) {
    width: remcalc(264);
    height: remcalc(74);
    border: double 2px transparent;
    border-radius: remcalc(44);

    font-size: get($fontsize, 'medium');
  }

  &:hover {
    color: $white;
    font-weight: get($fontweight, 'bold');
    transform: scale(1.04);
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right, $gradientdark, $gradientlight);
  }


  &.is-gray {
    background-image: linear-gradient($gallery, $gallery), linear-gradient(to right, $gradientdark, $gradientlight);

    &:hover {
      background-image: linear-gradient(transparent, transparent), linear-gradient(to right, $gradientdark, $gradientlight);
    }
  }

  &.is-university {
    width: remcalc(290);
    height: remcalc(74);
    border: double 2px transparent;
    border-radius: remcalc(42);
    line-height: 1;
    font-weight: get($fontweight, 'regular');
    font-size: get($fontsize, 'xregular');

    @include breakpoint(large) { width: remcalc(320); }
  }

  &.is-news {
    @include breakpoint(small) {
      width: remcalc(200);
      height: remcalc(46);
      border: double 1px transparent;
      border-radius: remcalc(32);
      font-size: get($fontsize);
    }

    @include breakpoint(large) {
      height: remcalc(60);
      border: double 2px transparent;
      border-radius: remcalc(32);
      font-size: get($fontsize, 'xmedium');
    }
  }
}

.close-btn {
  position: absolute;
  top: remcalc(10);
  right: remcalc(10);
  z-index: get($layers, 'low');

  & > svg {
    display: block;
    height: remcalc(48);
    width: remcalc(48);
  }
}
