.site-container {
  width: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 remcalc($content-container-padding);
  width: 100%;
  max-width: remcalc($content-container);
}

.paragraph-text {
  line-height: 1.4;
  font-size: get($fontsize);

  &.is-aligned-right {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  }

  @include breakpoint(medium) { max-width: remcalc(540); }
  @include breakpoint(large) { max-width: remcalc(680); }
}

.slider-btn {
  $_SLIDER_BTN_SIZE: 24 !default;

  background: transparent;
  border: solid $mercury;
  width: remcalc($_SLIDER_BTN_SIZE);
  height: remcalc($_SLIDER_BTN_SIZE);
  outline: none;
  border-width: 0 2px 2px 0;

  @include breakpoint(large) {
    width: remcalc($_SLIDER_BTN_SIZE * 2.4);
    height: remcalc($_SLIDER_BTN_SIZE * 2.4);
    border-width: 0 3px 3px 0;
  }
}

.next-btn { transform: rotate(-45deg); }

.prev-btn { transform: rotate(135deg); }

.bigger {
  font-weight: get($fontweight, 'bold');

  @include breakpoint(medium) {
    font-size: get($fontsize, 'xmedium');
  }
}

strong, b {
  font-weight: get($fontweight, 'bold');
}
