.footer {
  padding: remcalc(20) 0;
  font-size: get($fontsize);

  @include breakpoint(large) {
    padding: remcalc(60) 0;
    font-size: get($fontsize, 'xregular');
  }
}

.footer-content {
  text-align: center;

  .footer-text {
    margin-bottom: remcalc(16);
    font-size: get($fontsize, 'xmedium');
    font-weight: get($fontweight, 'bold');

    @include breakpoint(large) {
      margin-bottom: remcalc(32);
      font-size: get($fontsize, 'xregular');
    }
  }

  .footer-link {
    text-decoration: none;
    color: inherit;

    & > svg {
      width: remcalc(160);
      height: remcalc(64);
      margin-bottom: remcalc(16);

      @include breakpoint(large) {
        width: remcalc(92);
        height: remcalc(64);
        margin-bottom: remcalc(24);
      }
    }

    & > span {
      font-weight: get($fontweight, 'bold');
    }
  }
}
