.heading {
  position: relative;
  font-size: get($fontsize, 'large');
  font-weight: get($fontweight, 'extrabold');
  line-height: 1.15;
  margin-bottom: remcalc(20);

  @include breakpoint(small) { font-size: get($fontsize, 'xgiant'); }

  /* Heading with two rows */
  &.has-rows {
    & > span {
      display: block;
      font-size: get($fontsize, 'xlarge');

      @include breakpoint(small) { font-size: get($fontsize, 'xhuge'); }
    }
  }

  /* Heading aligned right */
  &.is-aligned-right {
    text-align: right;

    &:after { right: 0; }
  }

  /* Centered Heading */
  &.is-centered {
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }

    /* White Heading with no undeline */
    &.is-bright {
      color: $white;

      &:after { display: none; }
    }
  }

  &:after {
    position: absolute;
    bottom: remcalc(-10);
    display: block;
    content: '';
    height: remcalc(4);
    width: remcalc(96);
    background: linear-gradient(to right, $gradientdark 0%, $gradientmid 45%, $gradientlight 100%);

    @include breakpoint(small) {
      height: remcalc(6);
      width: remcalc(190);
    }
  }
}
