.header-section {
  position: relative;
  padding: remcalc(90) 0 remcalc(20);

  @include breakpoint(small) {
    padding: remcalc(160) 0 remcalc(120);
  }

  @include breakpoint(large) {
    padding: remcalc(210) 0 remcalc(140);
  }
}

/* Header Content */
.header-content-wrapper {
  position: relative;
  color: $white;
  z-index: get($layers, 'lower');

  .header-heading {
    font-size: get($fontsize, 'xlarge');
    font-weight: get($fontweight, 'extrabold');
    line-height: 1.15;
    margin: 0 0 remcalc(24);
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 1.1s $ease-cubic, transform 1.1s $ease-cubic;

    @include breakpoint(small) {
      margin: 0 0 remcalc(40);
      font-size: get($fontsize, 'xgiant');
    }

    &.show-on-scroll {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.header-background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .header-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background: linear-gradient(to right, $gradientdark 0%, $gradientmid 50%, $gradientlight 100%);
    overflow: hidden;

    @include breakpoint(medium) {
      border-radius: 0 0 580px/440px 0;
    }

    @include breakpoint(large) {
      border-radius: 0 0 840px/540px 0;
    }
  }

  .header-image {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    @include breakpoint(medium) {
      display: block;
    }

    .hero-image {
      position: absolute;
      top: 0;
      right: remcalc(-50);
      height: remcalc(780);
      width: remcalc(990);
      opacity: 1;
      transition: opacity 1.1s $ease-cubic;
      mask-image: linear-gradient(to left, $black, transparent);


      @include breakpoint(large) { right: remcalc(120); }

      &.show-on-scroll {
        opacity: 1;
      }
    }

    //IE FIX

    _:-ms-lang(x), .hero-image {
      right: remcalc(-520);

      @include breakpoint(large) { right: remcalc(-210); }
    }
  }
}
