/* Navigation */
$_NAV_HEIGHT: 45 !default;
$_NAV_HEIGHT_DESKTOP: 80 !default;

.nav-section {
  position: fixed;
  z-index: get($layers, 'absolute');
}

.nav-wrapper {
  position: relative;
  height: remcalc($_NAV_HEIGHT);
  display: flex;
  align-items: center;

  @include breakpoint(small) { height: remcalc($_NAV_HEIGHT_DESKTOP); }
}

/* Logo */
/* Logo */
.nav-logo-link {
  display: block;

  .nav-logo-img {
    display: block;
    width: remcalc(90) ;
    height: remcalc(15);

    @include breakpoint(small) {
      width: remcalc(90 * 1.5);
      height: remcalc(15 * 1.5);
    }
  }
}

/* Burger */
.burger-wrapper {
  $_burger_width: 36 !default;

  width: remcalc($_burger_width);
  margin: 0 0 0 auto;
  cursor: pointer;

  @include breakpoint(large) { display: none; }

  .line {
    display: block;
    width: 100%;
    height: 3px;
    background: $white;
    margin: remcalc(6) 0;
    transition: transform .8s $ease-cubic, opacity .6s $ease-cubic;

    &:nth-child(1) {

    }

    &:nth-child(2) {
    }

    &:nth-child(3) {

    }
  }

  &.is-active {
    .line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
      }
    }
  }
}

/* Main Navigation */
.nav-menu-wrapper {
  position: absolute;
  top: remcalc($_NAV_HEIGHT);
  width: 100vw;
  height: 1vh;
  margin: 0 remcalc(- $content-container-padding);
  padding-top: remcalc(22);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background: rgba($black, .9);
  transition: transform .8s $ease-cubic, opacity .6s $ease-cubic;
  transform-origin: 0 0;
  transform: scaleY(0);

  @include breakpoint(large) {
    position: static;
    width: auto;
    height: auto;
    margin: 0 0 0 auto;
    padding-top: 0;
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    @include breakpoint(large) { flex-direction: row; }

    .nav-menu-item {
      &:not(:last-of-type) {
        margin: 0 0 remcalc(22);

        @include breakpoint(large) {margin: 0 remcalc(22) 0 0;}
      }

      & > a {
        position: relative;
        overflow: hidden;
        display: block;
        color: $white;
        text-decoration: none;
        font-size: get($fontsize, 'medium');
        font-weight: get($fontweight, 'regular');
        transition: color .6s $ease-cubic;

        @include breakpoint(large) {
          padding: remcalc(6) remcalc(12);
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          pointer-events: none;
          width: 100%;
          height: 1px;
          background: linear-gradient(to right, $gradientdark 0%, $gradientmid 45%, $gradientlight 100%);
          transform-origin: 0 100%;
          transition: transform .9s $ease-cubic;
          opacity: .8;
          transform: scale(0);
          z-index: -1;
        }

        @include breakpoint(small) {
          font-size: get($fontsize, 'medium');
        }
      }

      &:hover {
        & > a {
          color: $white;

          &:before {
            transform: scaleY(2);
          }
        }
      }
    }
  }

  /* State */
  &.is-active {
    height: 100vh;
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }
}
