.news {
  $_GRADIENT_OPACITY: .85 !default;

  padding: remcalc(40) 0 remcalc(70);
  background: linear-gradient(to right, rgba($gradientdark, $_GRADIENT_OPACITY) 0%, rgba($gradientmid, $_GRADIENT_OPACITY) 50%, rgba($gradientlight, $_GRADIENT_OPACITY) 100%);

  @include breakpoint(medium) { overflow: hidden; }
  
  @include breakpoint(large) { padding: remcalc(70) 0 remcalc(120); }

  .heading-news {
    position: relative;
    z-index: get($layers, 'low');

    @include breakpoint(large) { margin: 0 0 remcalc(110); }
  }
}


.news-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: get($layers, 'low');

  @include breakpoint(small) { max-width: remcalc(540); }
  @include breakpoint(medium) { max-width: remcalc(800); }
  @include breakpoint(large) { max-width: remcalc(1100); }

  .news-slider-btn {
    position: absolute;
    top: 50%;
  }

  .news-next {
    right: -3%;
  }

  .news-previous {
    left: -3%;
  }
}


.news-element {
  .news-element-wrapper {
    width: 100%;
    max-width: remcalc(230);
    background: $white;
    margin: 0 auto;
    border-radius: remcalc(30);
    overflow: hidden;

    @include breakpoint(large) {
      max-width: remcalc(334);
    }
  }
}

.news-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: remcalc(16) 0;

  @include breakpoint(large) { padding: remcalc(22) 0; }
  
  .box-image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: remcalc(200);
    max-height: remcalc(210);

    @include breakpoint(large) {
      max-width: remcalc(290);
      max-height: remcalc(300);
    }
  }
}

.news-content {
  background: $gallery;
  margin: 0 auto;
  padding: remcalc(20) 0;

  @include breakpoint(large) { padding: remcalc(36) 0 remcalc(20); }

  .news-description,
  .news-btn {
    margin: 0 auto;
  }

  .news-description {
    width: 90%;
    margin-bottom: remcalc(16);
    font-size: get($fontsize);
    font-weight: get($fontweight, 'bold');
    text-align: center;
    line-height: 1.2;

    @include breakpoint(large) {
      margin-bottom: remcalc(22);
      font-size: get($fontsize, 'xmedium');
    }
  }
}

/* Background */
.news-container {
  position: relative;

  .news-background,
  .news-background-2 {
    display: none;
    position: absolute;
    opacity: .5;
    z-index: get($layers, 'lower');
    pointer-events: none;

    @include breakpoint(medium) { display: block; }
  }

  .news-background {
    top: -37%;
    right: -48%;
    transform: rotate(22deg);
  }

  .news-background-2 {
    top: 47%;
    left: -48%;
    transform: scaleY(-1) rotate(202deg);
  }
}

.news-popup-list {

  .news-popup-element {
    position: absolute;
    top: -29%;
    display: block;
    padding: remcalc(20) 0 remcalc(40);
    background: rgba($mercury, .97);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s $ease-cubic, transform .8s $ease-cubic;
    margin: 0 remcalc(-$content-container-padding);
    z-index: get($layers, 'absolute');

    @include breakpoint(small) {
      border-radius: remcalc(20); }

    @include breakpoint(large) {
      top: -10%;
    }

    &.is-active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    @include breakpoint(medium) {
      margin: 0 -10%;
    }

    @include breakpoint(large) {
      padding: remcalc(100) remcalc(30) remcalc(70);
    }
  }

  .news-popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium) { flex-direction: row; }
  }
}

.news-popup-description-wrapper {
  margin: 0 0 remcalc(20);

  @include breakpoint(medium) {
    margin: remcalc(30) remcalc(40) remcalc(30) 0;
  }

  .news-popup-heading {
    $_LINE_POSITION: 20 !default;
    $_PSEUDOELEMENT_HEIGHT: 3 !default;
    $_LINE_MARGIN: $_LINE_POSITION - $_PSEUDOELEMENT_HEIGHT;

    position: relative;
    margin: 0 0 remcalc(30);
    width: 80%;
    font-weight: get($fontweight, 'extrabold');
    font-size: get($fontsize, 'medium');
    line-height: 1.13;

    @include breakpoint(small) { margin: 0 0 remcalc($_LINE_MARGIN * 2); }
    @include breakpoint(large) {
      width: 100%;
      font-size: get($fontsize, 'xlarge');
    }

    &:after {
      position: absolute;
      bottom: remcalc(- $_LINE_POSITION);
      display: block;
      content: '';
      height: remcalc($_PSEUDOELEMENT_HEIGHT);
      width: remcalc(120);
      background: linear-gradient(to right ,$gradientdark 0%, $gradientmid 50%, $gradientlight 100%);

      @include breakpoint(medium) { width: remcalc(140); }
    }
  }

  .news-popup-text {
    line-height: 1.34;
    font-size: get($fontsize);
    @include breakpoint(medium) {
      max-width: remcalc(700);
    }
  }
}

.news-popup-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: remcalc(350);
  max-height: remcalc(280);

  @include breakpoint(medium) {
    max-width: remcalc(390);
    max-height: remcalc(320);
  }

  @include breakpoint(large) {
    max-width: remcalc(490);
    max-height: remcalc(420);
  }
}
