.our-ambassadors-section {
  position: relative;
  padding: 0;
  overflow: hidden;

  @include breakpoint(small) { padding: 0 0 remcalc(175); }
}

.our-ambassadors-heading { margin: 0 0 remcalc(55); } //@todo different heading margins in project

.our-ambassadors-text { margin: 0 0 remcalc(60); }

.our-ambassadors-wrapper {
  position: relative;
  padding: 0 0 remcalc(30);
  margin: 0 remcalc(-$content-container-padding);
  z-index: get($layers, 'low');

  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .universities {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: remcalc(20) 0;
    background: $gallery;
    border-radius: remcalc(5);

    @include breakpoint(small) {
      padding: remcalc(40) remcalc(50);
    }

    @include breakpoint(large) {
      position: relative;
      z-index: get($layers, 'low');
    }

    .university-element {

      &:not(:last-child) {
        margin: 0 0 remcalc(20);

        @include breakpoint(large) {
          margin: 0 0 remcalc(40);
        }
      }
    }
  }

  .ambassadors-popup-list {
    $_DESKTOP_CONTAINER_PADDING: 40 !default;

    width: 100%;
    height: 100%;
    pointer-events: none;

    @include breakpoint(medium) {
      position: absolute;
      top: 0;
      max-height: remcalc(610);
    }

    @include breakpoint(large) {
      left: remcalc(420);
      bottom: 0;
      width: 100%;
      max-width: remcalc($content-container - $content-container-padding * 2 - 420);
      z-index: get($layers);
    }

    .ambassador-popup-element {
      position: relative;
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 100%;
      background: $mercury;
      transition: opacity .6s $ease-cubic, width .4s $ease-cubic;

      @include breakpoint(medium) {
        position: absolute;
        top: 0;
        height: 100%;
        width: 0;
      }

      &.is-active {
        visibility: visible;
        opacity: 1;
        height: 100%;
        width: 100%;
        pointer-events: all;
      }

      .popup-content-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .popup-container {
          position: relative;
          background: $mercury;
          overflow: hidden;
          height: 100%;

          @include breakpoint(large) {
            padding: 0 remcalc($_DESKTOP_CONTAINER_PADDING);
            height: 100%;
          }
        }
      }

      .popup-description-wrapper {
        padding: remcalc(20) 0 0;

        @include breakpoint(small) {
          padding: remcalc(60) 0 remcalc(50);
        }

        @include breakpoint(medium) {
          max-width: remcalc(500);
        }

        @include breakpoint(large) {
          position: absolute;
          bottom: 0;
          z-index: get($layers, 'low');
        }
      }

      .popup-heading,
      .popup-subheading { font-weight: get($fontweight, 'extrabold'); }

      .popup-heading {
        font-size: get($fontsize, 'regular');
        line-height: 1.13;
        margin: 0 0 remcalc(20);

        .popup-heading-link {
          display: block;
          max-width: remcalc(200);
          text-decoration: none;
          color: rgba($black, .4);
          transition: color .5s $ease-cubic;

          @include breakpoint(small) { max-width: initial; }

          &:hover { color: $black; }

          &.is-active { color: $black; }

          &:first-child {
            $_FIRST_CHILD_MARGIN: 20 !default;

            position: relative;
            margin: 0 0 remcalc($_FIRST_CHILD_MARGIN);

            &:after {
              $_ELEMENT_HEIGHT: 3 !default;
              $_ELEMENT_POSITION: ($_FIRST_CHILD_MARGIN - $_ELEMENT_HEIGHT) / 2 !default;

              position: absolute;
              bottom: remcalc(- $_ELEMENT_POSITION);
              display: block;
              content: '';
              height: remcalc($_ELEMENT_HEIGHT);
              width: remcalc(100);
              background: linear-gradient(to right ,$gradientdark 0%, $gradientmid 50%, $gradientlight 100%);
            }
          }
        }

        @include breakpoint(small) { margin: 0 0 remcalc(36); }
      }

      .popup-subheading {
        $_LINE_POSITION: 20 !default;
        $_PSEUDOELEMENT_HEIGHT: 4 !default;
        $_LINE_MARGIN: 2 * $_LINE_POSITION - $_PSEUDOELEMENT_HEIGHT;

        position: relative;
        font-size: get($fontsize, 'medium');
        margin: 0 0 remcalc($_LINE_MARGIN);

        @include breakpoint(small) { margin: 0 0 remcalc($_LINE_MARGIN * 2); }

        &:after {
          position: absolute;
          bottom: remcalc(- $_LINE_POSITION);
          display: block;
          content: '';
          height: remcalc($_PSEUDOELEMENT_HEIGHT);
          width: remcalc(100);
          background: linear-gradient(to right ,$gradientdark 0%, $gradientmid 50%, $gradientlight 100%);
        }
      }

      .popup-text {
        line-height: 1.34;
        font-size: get($fontsize);
        margin: 0 0 remcalc(10);

        @include breakpoint(small) { margin: 0; }
        @include breakpoint(medium) { width: remcalc(550); }
        @include breakpoint(large) { max-width: remcalc(450); }
      }

      .popup-image {
        $_IMAGE_SIZE: 274 !default;
        $_IMAGE_SIZE_TABLET: 320 !default;

        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: remcalc($_IMAGE_SIZE);

        @include breakpoint(small) {
          max-width: remcalc($_IMAGE_SIZE_TABLET);
        }

        @include breakpoint(medium) {
          position: absolute;
          bottom: 0;
          right: 8%;
          height: 97%;
          width: auto;
          max-width: initial;
          z-index: get($layers, 'lower');
        }

        @include breakpoint(large) {
          height: 90%;
          right: remcalc(12);
        }

        &.is-kociszewska {
          @include breakpoint(large) { right: remcalc(-30); }
        }
      }
    }
  }
}

.our-ambassadors-image {
  display: none;

  @include breakpoint(small) {
    display: block;
    min-width: 65%;
  }
}

.ambasaddors-anim-wrapper {
  @include breakpoint(medium) {
    padding: 0 0 remcalc(65);
  }
}

.our-ambassadors-container {
  position: relative;

  .our-ambassadors-background {
    display: none;
    opacity: 0;
    transform: scale(.6);
    filter: blur(remcalc(4));
    transition: opacity 1.1s $ease-cubic, transform 1.1s $ease-cubic, filter 1.1s $ease-cubic;

    &.show-on-scroll {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }

    @include breakpoint(medium) {
      position: absolute;
      display: block;
      top: 0;
      right: 58.5%;

      & > svg {
        display: block;
        width: remcalc(615);
        height: remcalc(558);
      }
    }
  }

  .our-ambassadors-second-background {
    display: none;
    opacity: 0;
    transform: scale(.6);
    filter: blur(remcalc(4));
    transition: opacity 1.1s $ease-cubic, transform 1.1s $ease-cubic, filter 1.1s $ease-cubic;

    &.show-on-scroll {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }

    @include breakpoint(small) {
      position: absolute;
      display: block;
      bottom: -35%;
      left: 50.5%;

      & > svg {
        display: block;
        width: remcalc(643);
        height: remcalc(643);
      }
    }
  }
}

.popup-text[data-warsaw],
.popup-image[data-warsaw] {
  height: 0;
  opacity: 0;
  transition: opacity .7s $ease-cubic;

  &.is-active {
    height: auto;
    opacity: 1;
  }
}
