.recruitment {
  padding: remcalc(40) 0 0 0;

  .container {
    position: relative;
  }
}

.heading-recruitment {
  margin: 0 0 remcalc(30);
  padding: remcalc(40) 0 0;

  @include breakpoint(small) {
    margin: 0 0 remcalc(12);
    padding: remcalc(80) 0 0;
    font-size: get($fontsize, 'xhuge');
  }

  @include breakpoint(large) {
    font-size: get($fontsize, 'xgiant');
  }
}

.recruitment-list-wrapper { background: $gallery; }

.recruitment-list {
  padding: remcalc(20) 0 remcalc(90);

  @include breakpoint(small) {
    display: flex;
    flex-wrap: wrap;
    padding: remcalc(60) 0 remcalc(20);
  }

  @include breakpoint(large) {
    padding: remcalc(120) 0 remcalc(120);
  }

  .recruitment-step {
    font-size: get($fontsize, 'medium');
    font-weight: get($fontweight, 'regular');
    line-height: 1.2;

    &:not(:last-child) {
      margin: 0 0 remcalc(50);

      @include breakpoint(small) {
        margin: 0 3% 6% 0;
      }
    }

    @include breakpoint(small) {
      flex: 0 1 30%;
    }

    @include breakpoint(large) {
      flex: 0 1 29%;
      font-weight: get($fontweight, 'bold');
    }

    .step-number {
      position: relative;
      left: remcalc(-4);
      display: inline-block;
      margin: 0 0 remcalc(20);
      font-size: get($fontsize, 'huge');
      font-weight: get($fontweight, 'extrabold');

      @include breakpoint(small) {
        font-size: remcalc(100);
      }

      &:after {
        position: absolute;
        left: 6%;
        bottom: 5%;
        display: block;
        content: '';
        height: 4px;
        width: 100%;
        background: linear-gradient(to right, $gradientdark 0%, $gradientmid 50%, $gradientlight 100%);
      }
    }
  }
}

.recruitment-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;

  @include breakpoint(large) {
    display: block;
  }

  .recruitment-svg {
    display: block;
    width: remcalc(400);
    height: remcalc(600);
  }
}

.svg-glow {
  opacity: .7;
}

.recruitment-list {
  .recruitment-step {
    opacity: 0;
    transform: translateY(40%);
    transition: transform 1.2s $ease-cubic, opacity .9s $ease-cubic;

    &:nth-child(1) {
      transition-delay: .3s;
    }

    &:nth-child(2) {
      transition-delay: .6s;
    }

    &:nth-child(3) {
      transition-delay: .9s;
    }

    &:nth-child(4) {
      transition-delay: 1.2s;
    }

    &:nth-child(5) {
      transition-delay: 1.5s;
    }
  }

  &.show-on-scroll {
    .recruitment-step {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
