.section {
  width: 100%;
  max-width: 100vw;

  &.is-dark {
    color: $white;
    background: $black;
  }
}

.three-icons-section {
  background: $white;
  border-top: 80px solid $midnightblue;
  border-image-source: linear-gradient(to right, $midnightblue, $dodgerblue);
  border-image-slice: 20;

  @include breakpoint(medium) {
    border-top: 12px solid $midnightblue;
    border-image-source: linear-gradient(to right, $midnightblue, $dodgerblue);
    border-image-slice: 20;
  }

  .three-icons-wrapper {
    padding: remcalc(24) 0 remcalc(40);

    @include breakpoint(medium) {
      padding: remcalc(24) 0 remcalc(80);
    }
  }
}
