.one-icon-front-heading {
  font-size: get($fontsize, 'medium');
  font-weight: get($fontweight, 'bold');
  text-align: center;
  margin: 0 0 remcalc(32);

  @include breakpoint(large) {
    font-size: get($fontsize, 'xregular');
    font-weight: get($fontweight, 'bold');
    margin: 0 0 remcalc(48);
  }
}

.one-icon-fron-icon {
  display: block;
  width: 100%;
  max-width: remcalc(160);
  margin: 0 auto remcalc(24);
}

.one-icon-back-content {
  font-size: get($fontsize);
  line-height: 1.34;

  & > strong {
    font-weight: get($fontweight, 'bold');
    font-size: get($fontsize, 'xmedium');
  }
}

.icons-slider-wrapper {
  position: relative;

  @include breakpoint(large) {
    padding: remcalc(90) 0;
  }

  .slider-ico-next {
    right: remcalc(40);
  }

  .slider-ico-previous {
    left: remcalc(40);
  }

  .slider-btn {
    position: absolute;
    top: 20%;
    width: remcalc(36);
    height: remcalc(36);
    border: solid rgba($black, .4);
    border-width: 0 4px 4px 0;
    z-index: 400;

    @include breakpoint(large) {
      display: none;
    }
  }
}

.three-icons-wrapper {
  opacity: 0;
  transform: translateY(40%);
  transition: transform 1s $ease-cubic, opacity 1s $ease-cubic;

  @include breakpoint(large) {
    display: flex;
    justify-content: center;
  }

  &.show-on-scroll {
    opacity: 1;
    transform: translateY(0);
  }
}

.one-icon-wrapper {
  @include breakpoint(large) {
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0 remcalc(32);
  }

  .one-icon {
    @include breakpoint(large) {
      background-color: transparent;
      width: remcalc(340);
      height: remcalc(380);

      &:hover {
        .one-icon-front {
          opacity: 0;
          transform: scale(.3);
        }

        .one-icon-back {
          z-index: 20;
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

.one-icon-svg {
  width: 100%;
  height: auto;
}

.one-icon-front,
.one-icon-back {
  @include breakpoint(large) {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .7s $ease-cubic;
  }
}

.one-icon-back {
  @include breakpoint(large) {
    opacity: 0;
    transform: scale(.4);
    background: $white;
    top: -15%;
    left: -15%;
    width: 130%;
    height: 130%;
    border-radius: remcalc(12);
    padding: remcalc(72) remcalc(52);
    box-shadow: 0 4px 30px 0 rgba($black, .15);
  }
}

.one-icon-inner {
  @include breakpoint(large) {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 1.1s $ease-cubic;
    transform-style: preserve-3d;
  }
}

.one-icon-front {
  color: $toreabay;

  @include breakpoint(large) {
    background: $white;
    border-radius: remcalc(12);
    padding: remcalc(44);
    box-shadow: 0 4px 30px 0 rgba($black, .15);
  }
}

_:-ms-input-placeholder, :root {
  @include breakpoint(large) {
    .one-icon {
      &:hover {
        .one-icon-back {
          backface-visibility: visible;
        }
      }
    }
  }
}

.three-icons-button-wrapper {
  .is-three-icons {
    margin: 0 auto;

    width: remcalc(300);
  }
}
