html,
body {
  width: 100%;
  height: 100%;
  font-family: $primary-font;
  font-size: $font-size;
  font-weight: get($fontweight);
  background: $white;
  color: $black;
  text-size-adjust: 100%;
}

body {

  &:before,
  &:after {
    pointer-events: none;
  }

  &.is-menu-open { overflow: hidden; }

  &.loaded {
    overflow-y: auto;

    &:before,
    &:after {
      opacity: 0;
      filter: blur(14px);
    }
  }
}

/* Anti Aliasing for fonts */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Selection */
::selection {
  color: $white;
  background: $black; //@todo selection color
}
