/* Colors */
$black: #000 !default;
$white: #fff !default;

$gallery: #f0f0f0 !default;
$concrete: #f3f3f3 !default;
$mercury: #e1e1e1 !default;

$midnightblue: #01156a !default;
$toreabay: #0e3c8b !default;
$dodgerblue: #3fc0fe !default;

/* Gradients */
$gradientlight: $dodgerblue !default;
$gradientmid: $toreabay !default;
$gradientdark: $midnightblue !default;
