@font-face {
  font-family:"Samsung";
  src:url("../fonts/SamsungOne-300.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family:"Samsung";
  src:url("../fonts/SamsungOne-400.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family:"Samsung";
  src:url("../fonts/SamsungOne-600.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family:"Samsung";
  src:url("../fonts/SamsungOne-800.woff") format("woff");
  font-weight: 800;
}
