/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* App & Variables */
/* Base */
/* Font Stack */
/* Transition */
/* Rem Calculation */
/* Get From Map */
/* Elements Size */
/* Colors */
/* Gradients */
/* Utils */
.cf:after {
  content: ' ';
  display: table;
  clear: both; }

.box-shadow {
  box-shadow: 0.4rem 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.45); }

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Samsung";
  font-size: 10px;
  font-weight: 300;
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body:before, body:after {
  pointer-events: none; }

body.is-menu-open {
  overflow: hidden; }

body.loaded {
  overflow-y: auto; }
  body.loaded:before, body.loaded:after {
    opacity: 0;
    filter: blur(14px); }

/* Anti Aliasing for fonts */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Custom Selection */
::-moz-selection {
  color: #fff;
  background: #000; }
::selection {
  color: #fff;
  background: #000; }

/* Components */
.site-container {
  width: 100%;
  overflow: hidden; }

.container {
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
  max-width: 125rem; }

.paragraph-text {
  line-height: 1.4;
  font-size: 1.6rem; }
  .paragraph-text.is-aligned-right {
    text-align: right;
    margin-left: auto;
    margin-right: 0; }
  @media only screen and (min-width: 1024px) {
    .paragraph-text {
      max-width: 54rem; } }
  @media only screen and (min-width: 1360px) {
    .paragraph-text {
      max-width: 68rem; } }

.slider-btn {
  background: transparent;
  border: solid #e1e1e1;
  width: 2.4rem;
  height: 2.4rem;
  outline: none;
  border-width: 0 2px 2px 0; }
  @media only screen and (min-width: 1360px) {
    .slider-btn {
      width: 5.76rem;
      height: 5.76rem;
      border-width: 0 3px 3px 0; } }

.next-btn {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.prev-btn {
  -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

.bigger {
  font-weight: 600; }
  @media only screen and (min-width: 1024px) {
    .bigger {
      font-size: 2rem; } }

strong, b {
  font-weight: 600; }

.section {
  width: 100%;
  max-width: 100vw; }
  .section.is-dark {
    color: #fff;
    background: #000; }

.three-icons-section {
  background: #fff;
  border-top: 80px solid #01156a;
  border-image-source: linear-gradient(to right, #01156a, #3fc0fe);
  border-image-slice: 20; }
  @media only screen and (min-width: 1024px) {
    .three-icons-section {
      border-top: 12px solid #01156a;
      border-image-source: linear-gradient(to right, #01156a, #3fc0fe);
      border-image-slice: 20; } }
  .three-icons-section .three-icons-wrapper {
    padding: 2.4rem 0 4rem; }
    @media only screen and (min-width: 1024px) {
      .three-icons-section .three-icons-wrapper {
        padding: 2.4rem 0 8rem; } }

/* Navigation */
.nav-section {
  position: fixed;
  z-index: 1000; }

.nav-wrapper {
  position: relative;
  height: 4.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media only screen and (min-width: 768px) {
    .nav-wrapper {
      height: 8rem; } }

/* Logo */
/* Logo */
.nav-logo-link {
  display: block; }
  .nav-logo-link .nav-logo-img {
    display: block;
    width: 9rem;
    height: 1.5rem; }
    @media only screen and (min-width: 768px) {
      .nav-logo-link .nav-logo-img {
        width: 13.5rem;
        height: 2.25rem; } }

/* Burger */
.burger-wrapper {
  width: 3.6rem;
  margin: 0 0 0 auto;
  cursor: pointer; }
  @media only screen and (min-width: 1360px) {
    .burger-wrapper {
      display: none; } }
  .burger-wrapper .line {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 0.6rem 0;
    transition: transform 0.8s cubic-bezier(0.17, 0.67, 0.47, 1), opacity 0.6s cubic-bezier(0.17, 0.67, 0.47, 1); }
  .burger-wrapper.is-active .line:nth-child(1) {
    -ms-transform: rotate(45deg) translate(6px, 6px);
        transform: rotate(45deg) translate(6px, 6px); }
  .burger-wrapper.is-active .line:nth-child(2) {
    opacity: 0;
    -ms-transform: translateX(-100%);
        transform: translateX(-100%); }
  .burger-wrapper.is-active .line:nth-child(3) {
    -ms-transform: rotate(-45deg) translate(6px, -7px);
        transform: rotate(-45deg) translate(6px, -7px); }

/* Main Navigation */
.nav-menu-wrapper {
  position: absolute;
  top: 4.5rem;
  width: 100vw;
  height: 1vh;
  margin: 0 -3rem;
  padding-top: 2.2rem;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: transform 0.8s cubic-bezier(0.17, 0.67, 0.47, 1), opacity 0.6s cubic-bezier(0.17, 0.67, 0.47, 1);
  -ms-transform-origin: 0 0;
      transform-origin: 0 0;
  -ms-transform: scaleY(0);
      transform: scaleY(0);
  /* State */ }
  @media only screen and (min-width: 1360px) {
    .nav-menu-wrapper {
      position: static;
      width: auto;
      height: auto;
      margin: 0 0 0 auto;
      padding-top: 0;
      visibility: visible;
      opacity: 1;
      -ms-transform: scaleY(1);
          transform: scaleY(1); } }
  .nav-menu-wrapper .nav-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-grid-column-align: center;
        justify-items: center; }
    @media only screen and (min-width: 1360px) {
      .nav-menu-wrapper .nav-menu {
        -ms-flex-direction: row;
            flex-direction: row; } }
    .nav-menu-wrapper .nav-menu .nav-menu-item:not(:last-of-type) {
      margin: 0 0 2.2rem; }
      @media only screen and (min-width: 1360px) {
        .nav-menu-wrapper .nav-menu .nav-menu-item:not(:last-of-type) {
          margin: 0 2.2rem 0 0; } }
    .nav-menu-wrapper .nav-menu .nav-menu-item > a {
      position: relative;
      overflow: hidden;
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 2.5rem;
      font-weight: 400;
      transition: color 0.6s cubic-bezier(0.17, 0.67, 0.47, 1); }
      @media only screen and (min-width: 1360px) {
        .nav-menu-wrapper .nav-menu .nav-menu-item > a {
          padding: 0.6rem 1.2rem; } }
      .nav-menu-wrapper .nav-menu .nav-menu-item > a:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #01156a 0%, #0e3c8b 45%, #3fc0fe 100%);
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
        transition: transform 0.9s cubic-bezier(0.17, 0.67, 0.47, 1);
        opacity: .8;
        -ms-transform: scale(0);
            transform: scale(0);
        z-index: -1; }
      @media only screen and (min-width: 768px) {
        .nav-menu-wrapper .nav-menu .nav-menu-item > a {
          font-size: 2.5rem; } }
    .nav-menu-wrapper .nav-menu .nav-menu-item:hover > a {
      color: #fff; }
      .nav-menu-wrapper .nav-menu .nav-menu-item:hover > a:before {
        -ms-transform: scaleY(2);
            transform: scaleY(2); }
  .nav-menu-wrapper.is-active {
    height: 100vh;
    visibility: visible;
    opacity: 1;
    -ms-transform: scaleY(1);
        transform: scaleY(1); }

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  width: 20rem;
  height: 4.6rem;
  border: double 1px transparent;
  border-radius: 3.2rem;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #01156a, #3fc0fe);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-decoration: none;
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.47, 1), color 0.5s cubic-bezier(0.17, 0.67, 0.47, 1); }
  @media only screen and (min-width: 768px) {
    .btn {
      width: 26.4rem;
      height: 7.4rem;
      border: double 2px transparent;
      border-radius: 4.4rem;
      font-size: 2.5rem; } }
  .btn:hover {
    color: #fff;
    font-weight: 600;
    -ms-transform: scale(1.04);
        transform: scale(1.04);
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #01156a, #3fc0fe); }
  .btn.is-gray {
    background-image: linear-gradient(#f0f0f0, #f0f0f0), linear-gradient(to right, #01156a, #3fc0fe); }
    .btn.is-gray:hover {
      background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #01156a, #3fc0fe); }
  .btn.is-university {
    width: 29rem;
    height: 7.4rem;
    border: double 2px transparent;
    border-radius: 4.2rem;
    line-height: 1;
    font-weight: 400;
    font-size: 3rem; }
    @media only screen and (min-width: 1360px) {
      .btn.is-university {
        width: 32rem; } }
  @media only screen and (min-width: 768px) {
    .btn.is-news {
      width: 20rem;
      height: 4.6rem;
      border: double 1px transparent;
      border-radius: 3.2rem;
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1360px) {
    .btn.is-news {
      height: 6rem;
      border: double 2px transparent;
      border-radius: 3.2rem;
      font-size: 2rem; } }

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 200; }
  .close-btn > svg {
    display: block;
    height: 4.8rem;
    width: 4.8rem; }

.heading {
  position: relative;
  font-size: 4.4rem;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 2rem;
  /* Heading with two rows */
  /* Heading aligned right */
  /* Centered Heading */ }
  @media only screen and (min-width: 768px) {
    .heading {
      font-size: 8.9rem; } }
  .heading.has-rows > span {
    display: block;
    font-size: 3.7rem; }
    @media only screen and (min-width: 768px) {
      .heading.has-rows > span {
        font-size: 7.5rem; } }
  .heading.is-aligned-right {
    text-align: right; }
    .heading.is-aligned-right:after {
      right: 0; }
  .heading.is-centered {
    text-align: center;
    /* White Heading with no undeline */ }
    .heading.is-centered:after {
      left: 50%;
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
    .heading.is-centered.is-bright {
      color: #fff; }
      .heading.is-centered.is-bright:after {
        display: none; }
  .heading:after {
    position: absolute;
    bottom: -1rem;
    display: block;
    content: '';
    height: 0.4rem;
    width: 9.6rem;
    background: linear-gradient(to right, #01156a 0%, #0e3c8b 45%, #3fc0fe 100%); }
    @media only screen and (min-width: 768px) {
      .heading:after {
        height: 0.6rem;
        width: 19rem; } }

.header-section {
  position: relative;
  padding: 9rem 0 2rem; }
  @media only screen and (min-width: 768px) {
    .header-section {
      padding: 16rem 0 12rem; } }
  @media only screen and (min-width: 1360px) {
    .header-section {
      padding: 21rem 0 14rem; } }

/* Header Content */
.header-content-wrapper {
  position: relative;
  color: #fff;
  z-index: 100; }
  .header-content-wrapper .header-heading {
    font-size: 3.7rem;
    font-weight: 800;
    line-height: 1.15;
    margin: 0 0 2.4rem;
    -ms-transform: translateY(50%);
        transform: translateY(50%);
    opacity: 0;
    transition: opacity 1.1s cubic-bezier(0.17, 0.67, 0.47, 1), transform 1.1s cubic-bezier(0.17, 0.67, 0.47, 1); }
    @media only screen and (min-width: 768px) {
      .header-content-wrapper .header-heading {
        margin: 0 0 4rem;
        font-size: 8.9rem; } }
    .header-content-wrapper .header-heading.show-on-scroll {
      opacity: 1;
      -ms-transform: translateY(0);
          transform: translateY(0); }

.header-background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .header-background-gradient .header-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background: linear-gradient(to right, #01156a 0%, #0e3c8b 50%, #3fc0fe 100%);
    overflow: hidden; }
    @media only screen and (min-width: 1024px) {
      .header-background-gradient .header-shape {
        border-radius: 0 0 580px/440px 0; } }
    @media only screen and (min-width: 1360px) {
      .header-background-gradient .header-shape {
        border-radius: 0 0 840px/540px 0; } }
  .header-background-gradient .header-image {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .header-background-gradient .header-image {
        display: block; } }
    .header-background-gradient .header-image .hero-image {
      position: absolute;
      top: 0;
      right: -5rem;
      height: 78rem;
      width: 99rem;
      opacity: 1;
      transition: opacity 1.1s cubic-bezier(0.17, 0.67, 0.47, 1);
      -webkit-mask-image: linear-gradient(to left, #000, transparent);
              mask-image: linear-gradient(to left, #000, transparent); }
      @media only screen and (min-width: 1360px) {
        .header-background-gradient .header-image .hero-image {
          right: 12rem; } }
      .header-background-gradient .header-image .hero-image.show-on-scroll {
        opacity: 1; }
    .header-background-gradient .header-image _:-ms-lang(x), .header-background-gradient .header-image .hero-image {
      right: -52rem; }
      @media only screen and (min-width: 1360px) {
        .header-background-gradient .header-image _:-ms-lang(x), .header-background-gradient .header-image .hero-image {
          right: -21rem; } }

.ambassadors-program-section {
  position: relative;
  padding: 5.5rem 0; }
  @media only screen and (min-width: 768px) {
    .ambassadors-program-section {
      padding: 17.6rem 0 10rem; } }

.heading-ambassadors-program {
  margin-bottom: 4rem; }

.ambassadors-background {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .ambassadors-background {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 45vw;
      max-width: 60rem; } }

.heading-wrapper {
  opacity: 0;
  -ms-transform: translateX(-60%);
      transform: translateX(-60%);
  transition: opacity 1.1s cubic-bezier(0.17, 0.67, 0.47, 1), transform 1.1s cubic-bezier(0.17, 0.67, 0.47, 1); }
  .heading-wrapper.show-on-scroll {
    opacity: 1;
    -ms-transform: translateX(0);
        transform: translateX(0); }

.ambasaddors-anim-wrapper {
  opacity: 0;
  -ms-transform: translateX(60%);
      transform: translateX(60%);
  transition: opacity 1.1s cubic-bezier(0.17, 0.67, 0.47, 1), transform 1.1s cubic-bezier(0.17, 0.67, 0.47, 1); }
  .ambasaddors-anim-wrapper.show-on-scroll {
    opacity: 1;
    -ms-transform: translateX(0);
        transform: translateX(0); }

.our-ambassadors-section {
  position: relative;
  padding: 0;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .our-ambassadors-section {
      padding: 0 0 17.5rem; } }

.our-ambassadors-heading {
  margin: 0 0 5.5rem; }

.our-ambassadors-text {
  margin: 0 0 6rem; }

.our-ambassadors-wrapper {
  position: relative;
  padding: 0 0 3rem;
  margin: 0 -3rem;
  z-index: 200; }
  @media only screen and (min-width: 1024px) {
    .our-ambassadors-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center;
      margin: auto; } }
  .our-ambassadors-wrapper .universities {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding: 2rem 0;
    background: #f0f0f0;
    border-radius: 0.5rem; }
    @media only screen and (min-width: 768px) {
      .our-ambassadors-wrapper .universities {
        padding: 4rem 5rem; } }
    @media only screen and (min-width: 1360px) {
      .our-ambassadors-wrapper .universities {
        position: relative;
        z-index: 200; } }
    .our-ambassadors-wrapper .universities .university-element:not(:last-child) {
      margin: 0 0 2rem; }
      @media only screen and (min-width: 1360px) {
        .our-ambassadors-wrapper .universities .university-element:not(:last-child) {
          margin: 0 0 4rem; } }
  .our-ambassadors-wrapper .ambassadors-popup-list {
    width: 100%;
    height: 100%;
    pointer-events: none; }
    @media only screen and (min-width: 1024px) {
      .our-ambassadors-wrapper .ambassadors-popup-list {
        position: absolute;
        top: 0;
        max-height: 61rem; } }
    @media only screen and (min-width: 1360px) {
      .our-ambassadors-wrapper .ambassadors-popup-list {
        left: 42rem;
        bottom: 0;
        width: 100%;
        max-width: 77rem;
        z-index: 0; } }
    .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element {
      position: relative;
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 100%;
      background: #e1e1e1;
      transition: opacity 0.6s cubic-bezier(0.17, 0.67, 0.47, 1), width 0.4s cubic-bezier(0.17, 0.67, 0.47, 1); }
      @media only screen and (min-width: 1024px) {
        .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element {
          position: absolute;
          top: 0;
          height: 100%;
          width: 0; } }
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element.is-active {
        visibility: visible;
        opacity: 1;
        height: 100%;
        width: 100%;
        pointer-events: all; }
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-content-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden; }
        .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-content-wrapper .popup-container {
          position: relative;
          background: #e1e1e1;
          overflow: hidden;
          height: 100%; }
          @media only screen and (min-width: 1360px) {
            .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-content-wrapper .popup-container {
              padding: 0 4rem;
              height: 100%; } }
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-description-wrapper {
        padding: 2rem 0 0; }
        @media only screen and (min-width: 768px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-description-wrapper {
            padding: 6rem 0 5rem; } }
        @media only screen and (min-width: 1024px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-description-wrapper {
            max-width: 50rem; } }
        @media only screen and (min-width: 1360px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-description-wrapper {
            position: absolute;
            bottom: 0;
            z-index: 200; } }
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading,
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-subheading {
        font-weight: 800; }
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading {
        font-size: 3.5rem;
        line-height: 1.13;
        margin: 0 0 2rem; }
        .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading .popup-heading-link {
          display: block;
          max-width: 20rem;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.4);
          transition: color 0.5s cubic-bezier(0.17, 0.67, 0.47, 1); }
          @media only screen and (min-width: 768px) {
            .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading .popup-heading-link {
              max-width: initial; } }
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading .popup-heading-link:hover {
            color: #000; }
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading .popup-heading-link.is-active {
            color: #000; }
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading .popup-heading-link:first-child {
            position: relative;
            margin: 0 0 2rem; }
            .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading .popup-heading-link:first-child:after {
              position: absolute;
              bottom: -0.85rem;
              display: block;
              content: '';
              height: 0.3rem;
              width: 10rem;
              background: linear-gradient(to right, #01156a 0%, #0e3c8b 50%, #3fc0fe 100%); }
        @media only screen and (min-width: 768px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-heading {
            margin: 0 0 3.6rem; } }
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-subheading {
        position: relative;
        font-size: 2.5rem;
        margin: 0 0 3.6rem; }
        @media only screen and (min-width: 768px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-subheading {
            margin: 0 0 7.2rem; } }
        .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-subheading:after {
          position: absolute;
          bottom: -2rem;
          display: block;
          content: '';
          height: 0.4rem;
          width: 10rem;
          background: linear-gradient(to right, #01156a 0%, #0e3c8b 50%, #3fc0fe 100%); }
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-text {
        line-height: 1.34;
        font-size: 1.6rem;
        margin: 0 0 1rem; }
        @media only screen and (min-width: 768px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-text {
            margin: 0; } }
        @media only screen and (min-width: 1024px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-text {
            width: 55rem; } }
        @media only screen and (min-width: 1360px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-text {
            max-width: 45rem; } }
      .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-image {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 27.4rem; }
        @media only screen and (min-width: 768px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-image {
            max-width: 32rem; } }
        @media only screen and (min-width: 1024px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-image {
            position: absolute;
            bottom: 0;
            right: 8%;
            height: 97%;
            width: auto;
            max-width: initial;
            z-index: 100; } }
        @media only screen and (min-width: 1360px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-image {
            height: 90%;
            right: 1.2rem; } }
        @media only screen and (min-width: 1360px) {
          .our-ambassadors-wrapper .ambassadors-popup-list .ambassador-popup-element .popup-image.is-kociszewska {
            right: -3rem; } }

.our-ambassadors-image {
  display: none; }
  @media only screen and (min-width: 768px) {
    .our-ambassadors-image {
      display: block;
      min-width: 65%; } }

@media only screen and (min-width: 1024px) {
  .ambasaddors-anim-wrapper {
    padding: 0 0 6.5rem; } }

.our-ambassadors-container {
  position: relative; }
  .our-ambassadors-container .our-ambassadors-background {
    display: none;
    opacity: 0;
    -ms-transform: scale(0.6);
        transform: scale(0.6);
    filter: blur(0.4rem);
    transition: opacity 1.1s cubic-bezier(0.17, 0.67, 0.47, 1), transform 1.1s cubic-bezier(0.17, 0.67, 0.47, 1), filter 1.1s cubic-bezier(0.17, 0.67, 0.47, 1); }
    .our-ambassadors-container .our-ambassadors-background.show-on-scroll {
      opacity: 1;
      -ms-transform: scale(1);
          transform: scale(1);
      filter: blur(0); }
    @media only screen and (min-width: 1024px) {
      .our-ambassadors-container .our-ambassadors-background {
        position: absolute;
        display: block;
        top: 0;
        right: 58.5%; }
        .our-ambassadors-container .our-ambassadors-background > svg {
          display: block;
          width: 61.5rem;
          height: 55.8rem; } }
  .our-ambassadors-container .our-ambassadors-second-background {
    display: none;
    opacity: 0;
    -ms-transform: scale(0.6);
        transform: scale(0.6);
    filter: blur(0.4rem);
    transition: opacity 1.1s cubic-bezier(0.17, 0.67, 0.47, 1), transform 1.1s cubic-bezier(0.17, 0.67, 0.47, 1), filter 1.1s cubic-bezier(0.17, 0.67, 0.47, 1); }
    .our-ambassadors-container .our-ambassadors-second-background.show-on-scroll {
      opacity: 1;
      -ms-transform: scale(1);
          transform: scale(1);
      filter: blur(0); }
    @media only screen and (min-width: 768px) {
      .our-ambassadors-container .our-ambassadors-second-background {
        position: absolute;
        display: block;
        bottom: -35%;
        left: 50.5%; }
        .our-ambassadors-container .our-ambassadors-second-background > svg {
          display: block;
          width: 64.3rem;
          height: 64.3rem; } }

.popup-text[data-warsaw],
.popup-image[data-warsaw] {
  height: 0;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.17, 0.67, 0.47, 1); }
  .popup-text[data-warsaw].is-active,
  .popup-image[data-warsaw].is-active {
    height: auto;
    opacity: 1; }

.recruitment {
  padding: 4rem 0 0 0; }
  .recruitment .container {
    position: relative; }

.heading-recruitment {
  margin: 0 0 3rem;
  padding: 4rem 0 0; }
  @media only screen and (min-width: 768px) {
    .heading-recruitment {
      margin: 0 0 1.2rem;
      padding: 8rem 0 0;
      font-size: 7.5rem; } }
  @media only screen and (min-width: 1360px) {
    .heading-recruitment {
      font-size: 8.9rem; } }

.recruitment-list-wrapper {
  background: #f0f0f0; }

.recruitment-list {
  padding: 2rem 0 9rem; }
  @media only screen and (min-width: 768px) {
    .recruitment-list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 6rem 0 2rem; } }
  @media only screen and (min-width: 1360px) {
    .recruitment-list {
      padding: 12rem 0 12rem; } }
  .recruitment-list .recruitment-step {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2; }
    .recruitment-list .recruitment-step:not(:last-child) {
      margin: 0 0 5rem; }
      @media only screen and (min-width: 768px) {
        .recruitment-list .recruitment-step:not(:last-child) {
          margin: 0 3% 6% 0; } }
    @media only screen and (min-width: 768px) {
      .recruitment-list .recruitment-step {
        -ms-flex: 0 1 30%;
            flex: 0 1 30%; } }
    @media only screen and (min-width: 1360px) {
      .recruitment-list .recruitment-step {
        -ms-flex: 0 1 29%;
            flex: 0 1 29%;
        font-weight: 600; } }
    .recruitment-list .recruitment-step .step-number {
      position: relative;
      left: -0.4rem;
      display: inline-block;
      margin: 0 0 2rem;
      font-size: 8.2rem;
      font-weight: 800; }
      @media only screen and (min-width: 768px) {
        .recruitment-list .recruitment-step .step-number {
          font-size: 10rem; } }
      .recruitment-list .recruitment-step .step-number:after {
        position: absolute;
        left: 6%;
        bottom: 5%;
        display: block;
        content: '';
        height: 4px;
        width: 100%;
        background: linear-gradient(to right, #01156a 0%, #0e3c8b 50%, #3fc0fe 100%); }

.recruitment-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none; }
  @media only screen and (min-width: 1360px) {
    .recruitment-illustration {
      display: block; } }
  .recruitment-illustration .recruitment-svg {
    display: block;
    width: 40rem;
    height: 60rem; }

.svg-glow {
  opacity: .7; }

.recruitment-list .recruitment-step {
  opacity: 0;
  -ms-transform: translateY(40%);
      transform: translateY(40%);
  transition: transform 1.2s cubic-bezier(0.17, 0.67, 0.47, 1), opacity 0.9s cubic-bezier(0.17, 0.67, 0.47, 1); }
  .recruitment-list .recruitment-step:nth-child(1) {
    transition-delay: .3s; }
  .recruitment-list .recruitment-step:nth-child(2) {
    transition-delay: .6s; }
  .recruitment-list .recruitment-step:nth-child(3) {
    transition-delay: .9s; }
  .recruitment-list .recruitment-step:nth-child(4) {
    transition-delay: 1.2s; }
  .recruitment-list .recruitment-step:nth-child(5) {
    transition-delay: 1.5s; }

.recruitment-list.show-on-scroll .recruitment-step {
  opacity: 1;
  -ms-transform: translateY(0);
      transform: translateY(0); }

.one-icon-front-heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0 0 3.2rem; }
  @media only screen and (min-width: 1360px) {
    .one-icon-front-heading {
      font-size: 3rem;
      font-weight: 600;
      margin: 0 0 4.8rem; } }

.one-icon-fron-icon {
  display: block;
  width: 100%;
  max-width: 16rem;
  margin: 0 auto 2.4rem; }

.one-icon-back-content {
  font-size: 1.6rem;
  line-height: 1.34; }
  .one-icon-back-content > strong {
    font-weight: 600;
    font-size: 2rem; }

.icons-slider-wrapper {
  position: relative; }
  @media only screen and (min-width: 1360px) {
    .icons-slider-wrapper {
      padding: 9rem 0; } }
  .icons-slider-wrapper .slider-ico-next {
    right: 4rem; }
  .icons-slider-wrapper .slider-ico-previous {
    left: 4rem; }
  .icons-slider-wrapper .slider-btn {
    position: absolute;
    top: 20%;
    width: 3.6rem;
    height: 3.6rem;
    border: solid rgba(0, 0, 0, 0.4);
    border-width: 0 4px 4px 0;
    z-index: 400; }
    @media only screen and (min-width: 1360px) {
      .icons-slider-wrapper .slider-btn {
        display: none; } }

.three-icons-wrapper {
  opacity: 0;
  -ms-transform: translateY(40%);
      transform: translateY(40%);
  transition: transform 1s cubic-bezier(0.17, 0.67, 0.47, 1), opacity 1s cubic-bezier(0.17, 0.67, 0.47, 1); }
  @media only screen and (min-width: 1360px) {
    .three-icons-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center; } }
  .three-icons-wrapper.show-on-scroll {
    opacity: 1;
    -ms-transform: translateY(0);
        transform: translateY(0); }

@media only screen and (min-width: 1360px) {
  .one-icon-wrapper {
    -ms-flex: 0 0 35%;
        flex: 0 0 35%;
    max-width: 35%;
    padding: 0 3.2rem; } }

@media only screen and (min-width: 1360px) {
  .one-icon-wrapper .one-icon {
    background-color: transparent;
    width: 34rem;
    height: 38rem; }
    .one-icon-wrapper .one-icon:hover .one-icon-front {
      opacity: 0;
      -ms-transform: scale(0.3);
          transform: scale(0.3); }
    .one-icon-wrapper .one-icon:hover .one-icon-back {
      z-index: 20;
      opacity: 1;
      -ms-transform: scale(1);
          transform: scale(1); } }

.one-icon-svg {
  width: 100%;
  height: auto; }

@media only screen and (min-width: 1360px) {
  .one-icon-front,
  .one-icon-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.7s cubic-bezier(0.17, 0.67, 0.47, 1); } }

@media only screen and (min-width: 1360px) {
  .one-icon-back {
    opacity: 0;
    -ms-transform: scale(0.4);
        transform: scale(0.4);
    background: #fff;
    top: -15%;
    left: -15%;
    width: 130%;
    height: 130%;
    border-radius: 1.2rem;
    padding: 7.2rem 5.2rem;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15); } }

@media only screen and (min-width: 1360px) {
  .one-icon-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 1.1s cubic-bezier(0.17, 0.67, 0.47, 1);
    transform-style: preserve-3d; } }

.one-icon-front {
  color: #0e3c8b; }
  @media only screen and (min-width: 1360px) {
    .one-icon-front {
      background: #fff;
      border-radius: 1.2rem;
      padding: 4.4rem;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15); } }

@media only screen and (min-width: 1360px) {
  _:-ms-input-placeholder .one-icon:hover .one-icon-back, :root .one-icon:hover .one-icon-back {
    backface-visibility: visible; } }

.three-icons-button-wrapper .is-three-icons {
  margin: 0 auto;
  width: 30rem; }

.news {
  padding: 4rem 0 7rem;
  background: linear-gradient(to right, rgba(1, 21, 106, 0.85) 0%, rgba(14, 60, 139, 0.85) 50%, rgba(63, 192, 254, 0.85) 100%); }
  @media only screen and (min-width: 1024px) {
    .news {
      overflow: hidden; } }
  @media only screen and (min-width: 1360px) {
    .news {
      padding: 7rem 0 12rem; } }
  .news .heading-news {
    position: relative;
    z-index: 200; }
    @media only screen and (min-width: 1360px) {
      .news .heading-news {
        margin: 0 0 11rem; } }

.news-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 200; }
  @media only screen and (min-width: 768px) {
    .news-slider-wrapper {
      max-width: 54rem; } }
  @media only screen and (min-width: 1024px) {
    .news-slider-wrapper {
      max-width: 80rem; } }
  @media only screen and (min-width: 1360px) {
    .news-slider-wrapper {
      max-width: 110rem; } }
  .news-slider-wrapper .news-slider-btn {
    position: absolute;
    top: 50%; }
  .news-slider-wrapper .news-next {
    right: -3%; }
  .news-slider-wrapper .news-previous {
    left: -3%; }

.news-element .news-element-wrapper {
  width: 100%;
  max-width: 23rem;
  background: #fff;
  margin: 0 auto;
  border-radius: 3rem;
  overflow: hidden; }
  @media only screen and (min-width: 1360px) {
    .news-element .news-element-wrapper {
      max-width: 33.4rem; } }

.news-image-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 1.6rem 0; }
  @media only screen and (min-width: 1360px) {
    .news-image-wrapper {
      padding: 2.2rem 0; } }
  .news-image-wrapper .box-image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 20rem;
    max-height: 21rem; }
    @media only screen and (min-width: 1360px) {
      .news-image-wrapper .box-image {
        max-width: 29rem;
        max-height: 30rem; } }

.news-content {
  background: #f0f0f0;
  margin: 0 auto;
  padding: 2rem 0; }
  @media only screen and (min-width: 1360px) {
    .news-content {
      padding: 3.6rem 0 2rem; } }
  .news-content .news-description,
  .news-content .news-btn {
    margin: 0 auto; }
  .news-content .news-description {
    width: 90%;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.2; }
    @media only screen and (min-width: 1360px) {
      .news-content .news-description {
        margin-bottom: 2.2rem;
        font-size: 2rem; } }

/* Background */
.news-container {
  position: relative; }
  .news-container .news-background,
  .news-container .news-background-2 {
    display: none;
    position: absolute;
    opacity: .5;
    z-index: 100;
    pointer-events: none; }
    @media only screen and (min-width: 1024px) {
      .news-container .news-background,
      .news-container .news-background-2 {
        display: block; } }
  .news-container .news-background {
    top: -37%;
    right: -48%;
    -ms-transform: rotate(22deg);
        transform: rotate(22deg); }
  .news-container .news-background-2 {
    top: 47%;
    left: -48%;
    -ms-transform: scaleY(-1) rotate(202deg);
        transform: scaleY(-1) rotate(202deg); }

.news-popup-list .news-popup-element {
  position: absolute;
  top: -29%;
  display: block;
  padding: 2rem 0 4rem;
  background: rgba(225, 225, 225, 0.97);
  -ms-transform: scale(0);
      transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.47, 1), transform 0.8s cubic-bezier(0.17, 0.67, 0.47, 1);
  margin: 0 -3rem;
  z-index: 1000; }
  @media only screen and (min-width: 768px) {
    .news-popup-list .news-popup-element {
      border-radius: 2rem; } }
  @media only screen and (min-width: 1360px) {
    .news-popup-list .news-popup-element {
      top: -10%; } }
  .news-popup-list .news-popup-element.is-active {
    visibility: visible;
    opacity: 1;
    -ms-transform: scale(1);
        transform: scale(1); }
  @media only screen and (min-width: 1024px) {
    .news-popup-list .news-popup-element {
      margin: 0 -10%; } }
  @media only screen and (min-width: 1360px) {
    .news-popup-list .news-popup-element {
      padding: 10rem 3rem 7rem; } }

.news-popup-list .news-popup-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  @media only screen and (min-width: 1024px) {
    .news-popup-list .news-popup-container {
      -ms-flex-direction: row;
          flex-direction: row; } }

.news-popup-description-wrapper {
  margin: 0 0 2rem; }
  @media only screen and (min-width: 1024px) {
    .news-popup-description-wrapper {
      margin: 3rem 4rem 3rem 0; } }
  .news-popup-description-wrapper .news-popup-heading {
    position: relative;
    margin: 0 0 3rem;
    width: 80%;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.13; }
    @media only screen and (min-width: 768px) {
      .news-popup-description-wrapper .news-popup-heading {
        margin: 0 0 3.4rem; } }
    @media only screen and (min-width: 1360px) {
      .news-popup-description-wrapper .news-popup-heading {
        width: 100%;
        font-size: 3.7rem; } }
    .news-popup-description-wrapper .news-popup-heading:after {
      position: absolute;
      bottom: -2rem;
      display: block;
      content: '';
      height: 0.3rem;
      width: 12rem;
      background: linear-gradient(to right, #01156a 0%, #0e3c8b 50%, #3fc0fe 100%); }
      @media only screen and (min-width: 1024px) {
        .news-popup-description-wrapper .news-popup-heading:after {
          width: 14rem; } }
  .news-popup-description-wrapper .news-popup-text {
    line-height: 1.34;
    font-size: 1.6rem; }
    @media only screen and (min-width: 1024px) {
      .news-popup-description-wrapper .news-popup-text {
        max-width: 70rem; } }

.news-popup-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 35rem;
  max-height: 28rem; }
  @media only screen and (min-width: 1024px) {
    .news-popup-image {
      max-width: 39rem;
      max-height: 32rem; } }
  @media only screen and (min-width: 1360px) {
    .news-popup-image {
      max-width: 49rem;
      max-height: 42rem; } }

.footer {
  padding: 2rem 0;
  font-size: 1.6rem; }
  @media only screen and (min-width: 1360px) {
    .footer {
      padding: 6rem 0;
      font-size: 3rem; } }

.footer-content {
  text-align: center; }
  .footer-content .footer-text {
    margin-bottom: 1.6rem;
    font-size: 2rem;
    font-weight: 600; }
    @media only screen and (min-width: 1360px) {
      .footer-content .footer-text {
        margin-bottom: 3.2rem;
        font-size: 3rem; } }
  .footer-content .footer-link {
    text-decoration: none;
    color: inherit; }
    .footer-content .footer-link > svg {
      width: 16rem;
      height: 6.4rem;
      margin-bottom: 1.6rem; }
      @media only screen and (min-width: 1360px) {
        .footer-content .footer-link > svg {
          width: 9.2rem;
          height: 6.4rem;
          margin-bottom: 2.4rem; } }
    .footer-content .footer-link > span {
      font-weight: 600; }

/* Vendors */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list, .slick-slider .slick-track {
  transform: translate3d(0, 0, 0) l; }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: autol; }

.slick-track:after, .slick-track:before {
  display: table;
  content: ''l; }

.slick-track:after {
  clear: bothl; }

.slick-loading .slick-track {
  visibility: hiddenl; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
